/.vs/
/.vscode/*
!/.vscode/settings.json
/build/
/.build/
/out/
/output/
/cmake-build-*/
/CMakeUserPresets.json
/lab.local.json
/config/*.local.json
/config/*.agent.json
*.user
*.suo
*.VC.db
*.VC.opendb
